<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "GreenXchange" %></title>
		<%= csrf_meta_tags %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
		<![endif]-->

		<%= stylesheet_link_tag "application", :media => "all" %>

		<!-- For third-generation iPad with high-resolution Retina display: -->
		<!-- Size should be 144 x 144 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

		<!-- For iPhone with high-resolution Retina display: -->
		<!-- Size should be 114 x 114 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

		<!-- For first- and second-generation iPad: -->
		<!-- Size should be 72 x 72 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<!-- Size should be 57 x 57 pixels -->
		<%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

		<!-- For all other devices -->
		<!-- Size should be 32 x 32 pixels -->
		<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

		<%= javascript_include_tag "application" %>
	</head>
<body class="">

	<div>
		<%=image_tag("green_banner.jpg", class: "banner") %>
	</div>

	<div class="navbar top navbar-inverse">
      	<div class="navbar-inner">
	        <div class="container-fluid">
	           <a type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            </a>
	          	<a class="brand" href="#">GreenXchange</a>
	          	<div class="nav-collapse collapse">
					<ul class="nav">
						<li class=" <%= (@navbar != "home") ? "nil" : "active" %>"><%= link_to('Home', {:controller => '/home', :action => 'index'})%></li>			 		
						<!--<li class=" <%= (@navbar == "services") ? "active" : nil %>"><%= link_to('Services', {:controller => '/home', :action => 'services'})%></li>-->




				        <li class="dropdown <%= (@navbar == "services") ? "active" : nil %>">
				       		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
			                <ul class="dropdown-menu">
			                  <li class="nav-header">Auctions</li>
			                    <li> <%= link_to('Pakka Sale', {:controller => '/home', :action => 'services', :anchor => 'sometext'} )%> </li>
			                    <li> <%= link_to('Marzi Sale', {:controller => '/home', :action => 'services', :anchor => 'sometext'} )%> </li>
			                    <li> <%= link_to('Link ', {:controller => '/home', :action => 'services', :anchor => 'sometext'} )%> </li>
			                    <li class="divider"></li>
			                  <li class="nav-header">Transportation</li>
			                  	<li> <%= link_to('Link Sale', {:controller => '/home', :action => 'services', :anchor => 'sometext'} )%> </li>
			                    <li> <%= link_to('Link Sale', {:controller => '/home', :action => 'services', :anchor => 'sometext'} )%> </li>
			                    <li> <%= link_to('Link Sale', {:controller => '/home', :action => 'services', :anchor => 'sometext'} )%> </li>
			                  
			                </ul>
				        </li>


						<li class=" <%= (@navbar == "news") ? "active" : nil %>"><%= link_to('News', {:controller => '/home', :action => 'news'})%></li>
						<li class=" <%= (@navbar == "aboutUs") ? "active" : nil %>"><%= link_to('About Us', {:controller => '/home', :action => 'aboutUs'})%></li>
						<li class=" <%= (@navbar == "contactUs") ? "active" : nil %>"><%= link_to('Contact Us', {:controller => '/home', :action => 'contactUs'})%></li>
						<!--<div class="clearFloat"></div>-->
						<li class="divider"></li>
						</ul>
						<!--<div id="user_nav">-->
						<ul class=" nav pull-right">
						<% if user_signed_in? %> 
							<p class="navbar-text pull-right">Signed in as <%= current_user.email %></p>
							<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li> 
						<% else %>
							<li ><%= link_to "Sign up", new_user_registration_path %></li> 
				        	<li class="dropdown ">
				       		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
			                <ul class="dropdown-menu">
			                	<form method="post" id="newUser" class="new_user navbar-form" action="/users/sign_in" accept-charset="UTF-8"><div style="display:none"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="ED86t5UmisEUGYg1Xg/R9aTmbN9/SO9hOEuVwamafB4=" name="authenticity_token"></div>
								  <div><label for="user_email">Email:</label>
								  <input type="email" class="form-control input-medium" placeholder="Email"  name="user[email]" id="user_email" autofocus="autofocus"></div>

								  <div><label for="user_password">Password:</label>
								    <input type="password" class="form-control input-medium" placeholder="Password" name="user[password]" id="user_password" autocomplete="off"></div>

								    <div><input type="hidden" value="0" name="user[remember_me]"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me"> <label for="user_remember_me">Remember me</label></div>

								  <div>

								  	<button class="btn btn-default" type="submit"  name="commit"> Sign in</button></div>
								</form>

			                </ul>
				         </li>							
						</div>
						<% end %>
						</ul>
					
					
			   	</div>
			</div>
		</div>
	</div>

<div class="span3">
	<div class="services_sidebar">
	          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><%= link_to('Services', {:controller => '/home', :action => 'services'})%></li>
              <li class="nav-header">Auctions</li>
              <li><a href="#">Pakka Sale</a></li>
              <li><a href="#">Marzi Sale</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Transportation</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
        </div><!--/.well -->
    </div>    
</div><!--/span-->


	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	<!--what the heck is this flash thingy doing??-->
<br/>
<!--<%= params.inspect %> -->
<div class="span9">
	<%= bootstrap_flash %>
<%= yield %>
</div>
<div id ="bottom" class="navbar navbar-fixed-bottom">
	<div class="first_fixed_bottom_bar">
			<div class="navbar-inner">
				<marquee behavior="scroll" direction="left" onmouseout="this.start();" onmouseover="this.stop();" scrollamount="6">
					<div id="bottom_bar">
						<ol>	
							<li>
								<div class="image_for_bottom_bar">
									<%=image_tag("bananaImage.jpg", alt: "Image")%>
								</div>
							</li>		
							<li> 
								<p id="bottom_bar_1_text">JALGAON</p>
							</li>
							<li> 
								<p id="bottom_bar_1_text">BANANA-Robust</p>
							</li>
							<li>
								<div class="image_for_bottom_bar">
										<%=image_tag("bananaImage.jpg", alt: "Image")%>
								</div>
							</li>
							<li> 
								<p id="bottom_bar_1_text">1 Ton</p>
							</li>
							<li> 
								<p id="bottom_bar_1_text">Free Sale</p>
							</li>
							<li>
							 	<p id="bottom_bar_1_text">5Rs/Kg</p>
							</li>
							<li>
								<div class="image_for_bottom_bar">
										<%=image_tag("bananaImage.jpg", alt: "Image")%>
								</div>
							</li>
						</ol>	
					</div>
					
					<!--place, vegetable or fruit, amount, sale type, price if auction-->
								<!--Different clr for bands-->

					<!--							
						<li> <p>BLR</p>
						</li>
						<li> baby carrot</li>
						<li> 2 Ton</li>
						<li> Free Sale</li>
						<li> 20 Rs/Kg</li>
					-->						
				</marquee>
			</div>	
	</div>	
</div>

<div id ="bottom" class="navbar navbar-fixed-bottom">
  	<div class="second_fixed_bottom_bar">	
			<div class="navbar-inner">
				<marquee behavior="scroll" direction="left" onmouseout="this.start();" onmouseover="this.stop();" scrollamount="8">
					<div id="bottom_bar">
						<ol>
							<li>
								<div class="image_for_bottom_bar">
									<%=image_tag("redOnion.jpeg", alt: "Image")%>
								</div>
							</li>		
							<li> 
								<p id="bottom_bar_2_text">PUNE</p>
							</li>
							<li> 
								<p id="bottom_bar_2_text">Onion Red</p>
							</li>
							<li>
								<div class="image_for_bottom_bar">
										<%=image_tag("redOnion.jpeg", alt: "Image")%>
								</div>
							</li>
							<li> 
								<p id="bottom_bar_2_text">18 Ton</p>
							</li>
							<li> 
								<p id="bottom_bar_2_text">Auction</p>
							</li>
							<li> 
								<p id="bottom_bar_2_text">2pm-25/6/2014</p>
							</li>
							<li>
								<div class="image_for_bottom_bar">
										<%=image_tag("redOnion.jpeg", alt: "Image")%>
								</div>
							</li>
						</ol>	
					</div>					
				</marquee>
			</div>
  	</div>	
</div>

</body>
</html>
